.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}
img {
    object-fit: cover;
    width: 500px;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
li {
    font-size: 22px;
    
}
.list {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}